.versionInfoC1 {
    position: relative;
    width: 10%;
    padding-left: 2%;
    text-align: left;
}

.versionInfoC2 {
    position: relative;
    width: 10%;
    text-align: center;
}

.versionInfoC3 {
    position: relative;
    width: 80%;
    text-align: left;
}